<%# locals: (collection:) -%>

<li id="<%= dom_id(collection, :sidebar) %>">
  <details
    <%= collapsed?(collection) %>
    data-action="click->drawer#collapseToggle"
    data-drawer-id-param="<%= collection.id %>"
  >
    <summary class="group">
      <span>
        <%= icon(:folder, css: "size-6 stroke-accent") %>
      </span>
      <div id="<%= dom_id(collection, :name) %>">
        <%= collection.name %>
      </div>
    </summary>
    <ul>
      <li class="mt-2">
        <%= link_to real_estate_path(collection),
          css: "group",
          data: {
            turbo_action: "advance",
            turbo_frame: "main_content",
            drawer_target: "link"
          } do %>
          <span>
            <%= icon(:document_text, css: "size-6") %>
          </span>
          <%= I18n.t("collection.overview") %>
        <% end %>
      </li>
    </ul>
  </details>
</li>
