<%# locals: (collection:) -%>

<li id="<%= dom_id(collection, :sidebar) %>">
  <details
    <%= collapsed?(collection) %>
    data-action="click->drawer#collapseToggle"
    data-drawer-id-param="<%= collection.id %>"
  >
    <summary class="group">
      <span>
        <%= icon(:folder, css: "size-6 stroke-accent") %>
      </span>
      <div id="<%= dom_id(collection, :name) %>">
        <%= collection.name %>
      </div>
    </summary>
    <ul id="<%= dom_id(collection, :sidebar_childrens) %>">
      <li class="mt-2">
        <%= drawer_link(real_estate_path(collection)) do %>
          <span>
            <%= icon(:document_text, css: "size-6") %>
          </span>
          <%= t("collection.overview") %>
        <% end %>
      </li>
      <% collection.childrens.each do |living_unit| %>
        <%= render "childrens", living_unit:, collection: %>
      <% end %>
    </ul>
  </details>
</li>
