<tr id="<%= dom_id(item) %>">
  <td><%= item.id %></td>
  <td><%= item.name %></td>
  <td>
    <%= link_to edit_collection_path(item) do %>
      <%= icon(:pencil_square, css: "inline-block size-6") %>
    <% end %>
    <%= link_to collection_path(item), data:
      { turbo_confirm: I18n.t("turbo.confirm"), turbo_method: :delete } do %>
      <%= icon(:trash, css: "inline-block size-6") %>
    <% end %>
  </td>
</tr>
