<%# locals: (percent: "__", percentage_points: nil) -%>

<div class="stat bg-base-100" id="result_stat">
  <div class="stat-figure text-accent-content">
    <%= icon(:percent_badge, css: "inline-block size-8 stroke-current") %>
  </div>
  <div class="stat-title">
    <%= t("calculator.label.percent") %>
  </div>
  <div class="stat-value text-success">
    <%= percent %>
  </div>
  <div class="stat-desc text-success pt-2">
    <span class="inline-block w-10 mr-2">
      <% if percentage_points&.positive? %>
        ↗︎
        <%= percentage_points %>
      <% elsif percentage_points&.negative? %>
        ↘︎
        <%= percentage_points %><% else %>
        ____
      <% end %>
    </span>
    <%= t("calculator.label.percentage_points") %>
  </div>
</div>