<%# locals: (living_unit: nil, tenant: nil) -%>
<tr id=<%= dom_id(tenant) %>>
  <th></th>
  <td><%= tenant.first_name %></td>
  <td><%= tenant.last_name %></td>
  <td><%= tenant.email %></td>
  <td><%= tenant.phone_number %></td>
  <td>
    <%= link_to living_unit_tenant_path(living_unit, tenant),
      data: {
        turbo_method: :delete,
        turbo_confirm: t("turbo.confirm.destroy"),
      } do %>
      <%= icon(:trash, css: "size-4") %>
    <% end %>
  </td>
</tr>
