<%# locals: (living_unit: nil, real_estate: nil, tenants: [], action_bar: true) -%>
<div class="flex flex-col gap-2">
  <div class="flex">
    <div role="tablist" class="basis-full tabs tabs-lifted tabs-lg">
      <%= tab_link t("tenant.tab.tab_1"),
      url: real_estate_living_unit_path(real_estate, living_unit) %>

      <%= tab_link t("tenant.tab.tab_2"), url: living_unit_rents_path(living_unit) %>

      <%= render "shared/tab",
      url: living_unit_tenants_path(living_unit),
      active: true,
      label: t("tenant.tab.tab_3") do %>
        <div class="flex flex-col gap-2">
          <div class="flex">
            <div class="basis-full">
              <%= render "tenants/action_bar", living_unit:, action_bar: %>
            </div>
          </div>
          <div class="flex">
            <div class="basis-full">
              <%= yield if block_given? %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
