<%# locals: (living_unit: nil, rent: nil) -%>
<tr id=<%= dom_id(rent) %>>
  <th></th>
  <td><%= rent.cold_rent %></td>
  <td><%= rent.heating_costs %></td>
  <td><%= rent.incidental_costs %></td>
  <td><%= I18n.t("rent.rent_types.#{rent.rent_type}") %></td>
  <td><%= l(rent.valid_from, format: "%B %Y") %></td>
  <td class="font-semibold">
    <%= rent.total %>&euro;
  </td>
  <td>
    <%= link_to living_unit_rent_path(living_unit, rent),
      data: {
        turbo_method: :delete,
        turbo_confirm: t("turbo.confirm.destroy"),
      } do %>
      <%= icon(:trash, css: "size-4") %>
    <% end %>
  </td>
</tr>
