<%= main_turbo_frame_tag dom_id(@real_estate) do %>
  <div role="tablist" class="tabs tabs-lifted tabs-lg">
    <%= render "shared/tab", name: "real_estate_show", checked: true, label: t("real_estate.tab.tab_1") do %>
      <%= render "form", disabled: true, real_estate: @real_estate %>
      <%= link_to I18n.t("button.edit"),
      edit_real_estate_path(@real_estate),
      class: "btn btn-primary w-full mt-2" %>
    <% end %>

    <%= render "shared/tab", name: "real_estate_show", label: t("real_estate.tab.tab_2") do %>
      tab_2
    <% end %>

    <%= render "shared/tab", name: "real_estate_show", label: t("real_estate.tab.tab_3") do %>
      tab_3
    <% end %>
  </div>
<% end %>
