<div class="hidden">
  <%= turbo_frame_tag :old_index do %>
    <span data-calculator-target="oldIndexValue">
      <%= @consumer_index.index %>
    </span>
  <% end %>

  <%= turbo_frame_tag :new_index do %>
    <span data-calculator-target="newIndexValue">
      <%= @consumer_index.index %>
    </span>
  <% end %>
</div>
<%= turbo_frame_tag :main_content do %>
  <%= @consumer_index.index %>
<% end %>
