<tr id="<%= dom_id(spread_sheet) %>">
  <td>
    <%= spread_sheet.name %>
  </td>
  <td>
    <%= spread_sheet.description %>
  </td>
  <td>
    <%= spread_sheet.updated_at %>
  </td>
  <td class="text-right">
    <%= link_to "Show", spread_sheet_url(spread_sheet) %>
    <%= link_to "Destroy", spread_sheet_url(spread_sheet), data: { turbo_method: :delete } %>
  </td>
</tr>
