<tr id="<%= dom_id(spreadsheet) %>">
  <td>
    <%= spreadsheet.name %>
  </td>
  <td>
    <%= spreadsheet.description %>
  </td>
  <td>
    <%= spreadsheet.updated_at %>
  </td>
  <td class="text-right">
    <%= link_to "Show", spreadsheet_url(spreadsheet) %>
    <%= link_to "Destroy", spreadsheet_url(spreadsheet), data: { turbo_method: :delete } %>
  </td>
</tr>
