<div class="sticky top-0 mb-4 z-30" id="header">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <label
        aria-label="Open menu"
        for="main-drawer"
        class="btn btn-square btn-ghost drawer-button md:hidden"
      >
        <%= icon(:bars_3, css: "size-6") %>
      </label>
      <span class="btn btn-ghost text-xl"><%= t(:"app.title") %></span>
    </div>
    <div class="flex-none">
      <div class="avatar placeholder w-10 h-10">
        <label class="swap swap-rotate">
          <input
            data-action="click->ui#toggleDarkMode"
            type="checkbox"
            class="hidden"
            value="on"
          />
          <%= icon(:sun, css: "swap-on size-6") %>
          <%= icon(:moon, css: "swap-off size-6") %>
        </label>
      </div>
      <% if signed_in? %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="avatar placeholder">
              <div class="bg-neutral text-neutral-content w-10 rounded-full">
                <span class="text-xl">MV</span>
              </div>
            </div>
          </div>
          <ul
            tabindex="0"
            class="
              menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow
            "
          >
            <li>
              <%= link_to t("button.session.destroy"),
              session_path,
              method: :delete,
              data: {
                turbo_method: :delete,
              },
              class: "btn btn-sm btn-primary w-full" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
