<!DOCTYPE html>
<html data-controller="ui" data-ui-target="root" data-theme="retro">
  <head>
    <title>Bogomil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application",
    "data-turbo-track": "reload",
    type: "module",
    defer: true %>
  </head>

  <body class="">
    <%= turbo_stream_from(:events) %>
    <!-- Drawer -->
    <div class="drawer md:drawer-open" data-controller="drawer">
      <!-- Drawer Toggle -->
      <input
        id="main-drawer"
        type="checkbox"
        class="drawer-toggle"
        data-drawer-target="toggle"
      />
      <!-- Drawer Content -->
      <%= render "layouts/drawer_content" %>
      <!-- Drawer Side -->
      <%= render "layouts/drawer_side" %>
    </div>
  </body>
</html>
