<!DOCTYPE html>
<html class="">
  <head>
    <title>Bogomil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background-primary">
    <%= render "layouts/header" %>

    <div class="flex pt-16 overflow-hidden background-primary">
      <%= render "layouts/navigation" %>
      <div class="relative w-full h-full overflow-y-auto lg:ml-64 background-primary">
        <div class="px-4 pt-6">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
