<!DOCTYPE html>
<html data-controller="ui" data-ui-target="root" class="">
  <head>
    <title>Bogomil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background-secondary">
    <%= render "layouts/header" %>

    <div class="relative w-full h-full overflow-y-auto p-4 bg-secondary">
        <%= render "shared/flash_message" %>
        <%= yield %>
    </div>
  </body>
</html>
